#throne{
    margin: auto;
    width: 90%;
    
    height: 1450px;
    margin-top: 65px;
}
#pop1{
display: inline-block;
height: 100%;
width: 65%;

vertical-align: top;

}
#pop2{
    display: inline-block;
    height: 100%;
    width: 33%;
     
    vertical-align: top;
    background-color: #F4F4F4;
    
}
#taala{
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid white;
    margin-top: 10px;
    margin-left: 10px;
    background-image: url("https://image.shutterstock.com/image-vector/padlock-vector-icon-260nw-709627609.jpg");
    background-size: cover;
    margin-right: 10px;
}
#secureCheckout{
    display: inline-block;
   border: 1px solid white;
    font-size: 30px;
    color: #2E2E2E;
    margin-right: 10px;
    
}
#borderFree{
    display: inline-block;
    font-size: 15px;
    color: gray;
    margin-right: 250px;
}
#selectionLang{
    display: inline-block;
    
}
#EngSelect{
    border: white;
    font-size: 15px;
    
}
#alreadyAccount{
    color: grey;
    margin-left: 20px;
    font-size: 15px;
}
.forBorder{
    border: 1px solid #E1E1E1;
    margin: auto;
    width: 95%;
  
   
}
#number1{
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    margin-top: 10px;
    margin-left: 10px;
   text-align: center;
    background-size: cover;
    font-size: 25px;
    margin-right: 10px;
    border-radius: 50%;
}
#DelChange{
    margin-left: 10px;
    font-size: 30px;
    display: inline-block;
}
#changeBlue{
    display: inline-block;
    color: #2A9DCE;
    font-size: 30px;
    margin-left: 15px;
}
.delAdd{
    width: 48%;
    height: 250px;
    display: inline-block;
   
    margin-top: 5px;
    margin-left: 10px;
    vertical-align: top;
    
}
.delAdd > div{
    font-size: 18px;
    margin-left: 10px;
    
}
.number2{
    display: inline-block;
    color: white;
    background-color: black;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    margin-top: 10px;
    margin-left: 10px;
   text-align: center;
    background-size: cover;
    font-size: 30px;
    margin-right: 10px;
    border-radius: 50%;
    
}
#cloudflare{
    display: inline-block;
   
    height: 65px;
    width: 150px;
    margin-left: 700px;
    border-radius: 20px;
    background-image: url("https://blog.cloudflare.com/content/images/rejected_cloudflare_blue.png.scaled500.png");
    background-size: cover;
}
.checkInPUT{
    font-size: 25px;
    color: #717171;
}
.checkBoxx{
    height: 20px;
    width: 50px;
}
#forInlineBl{
    display: inline-block;
}
#visaa{
display: inline-block;
margin-left: 80px;

height: 40px;
width: 55px;
margin-top: 10px;
background-image: url("https://play-lh.googleusercontent.com/Ux2yl9kCM9BQttLm-Id7p6y-Sb7Vawm3Dib7mkx0hFB4zWNF38jPpB5kkzIS4wJmGW8");
background-size: cover;

}
#mastercaard{
    display: inline-block;
    margin-left: 20px;
  
    height: 40px;
    width: 55px;
    margin-top: 10px;
    background-image: url("https://mea.mastercard.com/content/dam/mccom/global/logos/logo-mastercard-mobile.svg");
background-size: 100% 100%;
}
#cardNumber{
    width: 500px;
    margin-left: 50px;
    height: 35px;
    
}
.forSizeInp{
    display: inline-block;
    margin-left: 50px;
    width: 230px;
    height: 35px;

}
.forSizeinp1{
    height: 35px;
    width: 210px;
}
#dotBorder{
    border: 1px dotted grey;
    width: 98%;
    margin: auto;
}
#sizLimit{
   font-size: 15px;
}
.placeTheOrder{
 margin-top: 20px;
 margin-left: 280px;
text-align: center;
background-color: #404040;
color: white;
width: 400px;
font-size: 20px;
height: 50px;
}
#thisOrder{
   text-align: center;
    font-size: 20px;

}
#trolley{
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid white;
    margin-top: 10px;
    margin-left: 10px;
    background-image: url("https://www.logolynx.com/images/logolynx/ae/ae31921e8f551da720b380815b8e647c.jpeg");
    background-size: cover;
    margin-right: 10px;
}
#yrOrder{
    display: inline-block;
   border: 1px solid white;
    font-size: 35px;
    color: #2E2E2E;
    margin-right: 10px;
}
#placeTheOrder2{
    width: 80%;
    margin-left: 20px;
    height: 50px;
    background-color: #404040;
    font-size: 20px;
    text-align: center;
    color: white;
}
.itemsShipping{
    margin-top: 15px;
    margin-left: 15px;
   
    display: inline-block;
    width: 180px;
    height: 30px;
    margin-right: 65px;
    text-align: start;
}
.costss{
    margin-top: 15px;
    /* margin-left: 10px; */
   
    display: inline-block;
    width: 180px;
    height: 30px;
    text-align: end;
}
#smalBord{
    margin: auto;
    border: 1px solid grey;
    margin: 20px;
    width: 94%;
}
